In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

#### Biodiversity Project

This project will analyze data from two files: observations.csv and species_info.csv

`Observations.csv` compiles information about the scientific names of a species, the number of observations of that species in the past 7 days, and the park where the observations occurred. Variables:
- **scientific_name**
- **park_name**
- **observations**

`Species_info.csv` compiles information about all the different scientific names for species, the common names for these species, the category of the species, and the conservation status of the species. Variables:
- **category**
- **scientific_name**
- **common_names**
- **conservation_status**

In [10]:
species = pd.read_csv('/users/ghanimsial/desktop/Code Cademy/Data Science Machine Learning Specialist/Biodiversity Project/species_info.csv')
print(f'Shape of species: {species.shape}')
species.head()
# category
# scientific_name
# common_names
# conservation_status

Shape of Species_info.csv: (5824, 4)

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

In [12]:
observations = pd.read_csv('/users/ghanimsial/desktop/Code Cademy/Data Science Machine Learning Specialist/Biodiversity Project/observations.csv')
print(f'Shape of observations: {observations.shape}')
observations.head()
# scientific_name
# park_name
# observations

Shape of observations: (23296, 3)

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

#### Objectives
- **Distribution of conservation_status across category**
- **Are certain types of species more likely to be endangered as compared to others?**
- **Which species were spotted the most at each park?**
- **Are the differences between species and their conservation status significant?**
- **Which park has a highest number of protected species?**